<kendo-treeview [nodes]="nodes" textField="id" kendoTreeViewExpandable kendoTreeViewSelectable
    kendoTreeViewHierarchyBinding (selectionChange)="handleSelection($event)" childrenField="children">
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
        <span><i class="fa {{dataItem.icon}}"></i> &nbsp;</span>
        {{dataItem.id}}&nbsp;
        <button (click)="handleAddButton(dataItem.message)"
            *ngIf="enablePlusButton && dataItem.icon == 'fa-play-circle-o'" class="btn btn-default">
            <span><i class="fa fa-plus"></i> &nbsp;</span>
        </button>
    </ng-template>
</kendo-treeview>