<h5 class="card-title">Assert</h5>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Status</label>
        <div class="col-sm-1">
            <input type="text" class="form-control" formControlName="status">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Strategy</label>
        <div class="col-sm-1">
            <select class="form-control" formControlName="assertStrategy">
                <option>JSON</option>
                <option>Field</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="url">Json</label>
        <div class="col-sm-11">
            <textarea class="form-control" style="font-size: 13px;" rows="10" formControlName="body"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="url">Fields</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" formControlName="fields">
        </div>
    </div>
</form>