.k-treeview .k-in.k-state-selected {
    background-color: rgb(87, 132, 223);
    border-radius: 5px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}