<div class="jumbotron">
    <h1 class="display-4">{{flow.id}}</h1>
    <p class="lead">{{flow.description}}</p>
    <hr class="my-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="list-group w-100 p-3">
                            <li [ngClass]="{'list-group-item list-group-item-action' : true , 'active' : stepSelectedIndex == i}"
                                *ngFor="let step of flow.steps; let i = index">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-10">
                                            {{step.name}}
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-default" type="button"><span><i
                                                        class="fa fa-trash"></i></span></button>
                                        </div>
                                        <div class="col-1">
                                            <button (click)="onStepEdit(i)" class="btn btn-default"
                                                type="button"><span><i class="fa fa-pencil"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <afa-collection-tree (onAddButton)="onAddStep($event)" [enablePlusButton]="true">
                </afa-collection-tree>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <afa-message *ngIf="stepSelected" [message]="stepSelected.message">
                </afa-message>
            </div>
        </div>
    </div>

</div>